
# Development files and folders
_ignore
bin/
dev/
_temp/

# Temporary files
*.tmp

# Any IDE specific folders
.idea

# MacOS
.DS_Store

# mdbook
*.html
book/

# Website generation
_site
_book
public
site

# Rust-specific
target/
debug
**/*.rs.bk
*.pdb

# Any .env files
.env
.env.*
**/.env.*
.env

# Quarto-specific
/.quarto/
docs/.quarto/
*.ipynb
*.quarto_ipynb
**/*.quarto_ipynb
